<div class="col-md-offset-2 col-md-8 col-sm-offset-3 col-sm-6 col-xs-offset-2 col-xs-8">
  <div layout="column" ng-cloak>
  <md-content layout-padding>
    <form name="projectForm" class="test">
      <md-input-container class="md-block">
        <label>Employee Name</label>
        <input md-maxlength="30" required name="ename" ng-model="project.ename">
        <div ng-messages="projectForm.ename.$error">
          <div ng-message="required">This is required.</div>
          <div ng-message="md-maxlength">Your Name must be less than 30 characters long.</div>
        </div>
      </md-input-container>

      <div layout="row">
        <md-input-container flex="50">
          <label>Employee Code</label>
          <input name="eCode" ng-model="project.eCode" ng-readonly="true">
          <div ng-messages="projectForm.eCode.$error"></div>
        </md-input-container>

        <md-input-container flex="50">
          <input type="date" ng-model="date" placeholder="Enter Date Of Birth" value="{{ date | date: 'yyyy-MM-dd' }}" />
        </md-input-container>
      </div>

      <div layout="row">
        <md-input-container flex="50">
          <label>Father's Name</label>
          <input name="fName" ng-model="project.fName">
          <div ng-messages="projectForm.eCode.$error">
          </div>
        </md-input-container>

        <md-input-container flex="50">
          <label>Gender</label>
          <md-select name="Gender" ng-model="project.Gender" required>
            <md-option value="male">Male</md-option>
            <md-option value="female">Female</md-option>
            <md-option value="others">Others</md-option>
          </md-select>
          </md-input-container>
      </div>

      <md-input-container class="md-block">
        <label>Employee Email</label>
        <input required type="email" name="eEmail" ng-model="project.eEmail"
               minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/" />

        <div ng-messages="projectForm.eEmail.$error" role="alert">
          <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
            Your email must be between 10 and 100 characters long and look like an e-mail address.
          </div>
        </div>
      </md-input-container>

      <md-input-container class="md-block">
        <label>Phone Number</label>
        <input required type="number" step="any" name="phno" ng-model="project.phno" ng-pattern="/^[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}$/" />

        <div ng-messages="projectForm.phno.$error" multiple md-auto-hide="false">
          <div ng-message="required">
            You must enter a phone number.
          </div>

          <div ng-message="pattern">Must be a valid 10 digit phone number</div>

        </div>
      </md-input-container>

      <div layout="row" layout-align="end">
      <div flex="30">
      <md-button align="center" class="md-raised md-primary login">Submit</md-button>
      </div>
      </div>

    </form>
  </md-content>
</div>
</div>
