<div class="col-md-offset-2 col-md-8 col-sm-offset-3 col-sm-6 col-xs-offset-2 col-xs-8">
  <div layout="column" ng-cloak ng-controller="EmployeesCtrl">
    <md-content layout-padding>
      <form name="employeeForm" class="test">
        <md-input-container class="md-block">
          <label>Employee Name</label>
          <input md-maxlength="30" required name="ename" ng-model="employee.name">
          <div ng-messages="employeeForm.ename.$error">
            <div ng-message="required">This is required.</div>
            <div ng-message="md-maxlength">Your Name must be less than 30 characters long.</div>
          </div>
        </md-input-container>
        <div layout="row">
          <md-input-container flex="50">
            <label>Employee Code</label>
            <input required name="eCode" ng-model="employee.code">
            <div ng-messages="employeeForm.eCode.$error">
              <div ng-message="required">This is required.</div>
            </div>
          </md-input-container>
          <md-input-container flex="50">
            <md-datepicker ng-model="employee.date" md-placeholder="Enter Date Of Birth"></md-datepicker>
          </md-input-container>
        </div>
        <div layout="row">
          <md-input-container flex="50">
            <label>Father's Name</label>
            <input name="fName" ng-model="employee.father_name">
            <div ng-messages="employeeForm.fName.$error">
            </div>
          </md-input-container>
          <md-input-container flex="50">
            <label>Gender</label>
            <md-select  required name="Gender" ng-model="employee.gender">
              <md-option value="male">Male</md-option>
              <md-option value="female">Female</md-option>
              <md-option value="others">Others</md-option>
            </md-select>
            <div ng-messages="employeeForm.Gender.$error">
            <div ng-message="required">This is required.</div>
            </div>
          </md-input-container>
        </div>
        <div layout="row">
          <md-input-container flex="50">
            <label>Employee Email</label>
            <input required type="email" name="eEmail" ng-model="employee.email"
              minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/" />
            <div ng-messages="employeeForm.eEmail.$error" role="alert">
              <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                Your email must be between 10 and 100 characters long and look like an e-mail address.
              </div>
            </div>
          </md-input-container>
          <md-input-container flex="50">
            <label>Designation</label>
            <md-select name="design" ng-model="employee.designation">
              <md-option value="Senior Software Engineer">Senior Software Engineer</md-option>
              <md-option value="Software Engineer">Software Engineer</md-option>
              <md-option value="Manager">Manager</md-option>
              <md-option value="HR">HR</md-option>
              <md-option value="Intern">Intern</md-option>
            </md-select>
          </md-input-container>
        </div>
        <md-input-container class="md-block">
          <label>Phone Number</label>
          <input required type="number" step="any" name="phno" ng-model="employee.phone_number" ng-pattern="/^[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}$/" />
          <div ng-messages="employeeForm.phno.$error" multiple md-auto-hide="false">
            <div ng-message="required">
              You must enter a phone number.
            </div>
            <div ng-message="pattern">Must be a valid phone number</div>
          </div>
        </md-input-container>
        <div layout="row" layout-align="end">
          <div flex="30">
            <md-button align="center" class="md-raised md-primary login" 
              ng-click="add_employee(employee)">Submit</md-button>
          </div>
        </div>
      </form>
    </md-content>
  </div>
</div>
