<div class="col-md-offset-2 col-md-8 col-sm-offset-3 col-sm-6 col-xs-offset-2 col-xs-8" ng-init="progress_load()">
  <h1 align="start">Welcome</h1>
  <div layout="column" ng-cloak>
    <md-content class="md-padding">
      <form>
          <h3>Peer Score</h3>
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:{{score.peer_score}}%"> {{score.peer_score}}%
                </div>
              </div><br><br>
          <h3>Manager Score</h3>
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:{{score.self_score}}%"> {{score.self_score}}%
                </div>
              </div><br><br>
          <h3>Overall Appraisal </h3>
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:{{score.overall_score}}%"> {{score.overall_score}}%
                </div>
                
              </div><br><br>
          <div layout="row" layout-align="center">
              <div flex="30">
                  <md-button align="center" class="md-raised md-primary login" ng-click="">Send Appraisal</md-button>
              </div>
          </div>
      </form>
    </md-content>
  </div>
</div>












