<nav class="navbar navbar-default nav-bottom">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand logo" href="/">Navtech Appraisal Management</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a ui-sref="home.add_employee"><ng-md-icon icon="person_add" style="fill: white" size="25"></ng-md-icon></a>
        </li>
        <li>
          <a ng-click="logout()"><ng-md-icon icon="power_settings_new" style="fill: white" size="25"></ng-md-icon></a>
        </li>
      </ul>
    </div>
  </div>
</nav>