<div class="sample">
	<div class="col-md-offset-4 col-md-4 col-sm-offset-3 col-sm-6 col-xs-offset-2 col-xs-8">
		<div class="login-top">
			<div style="text-align: center">
				<img src="angular/assets/images/navtech_logo.png" class="navtech_logo">
			</div>
			<div class="well">
				<h4 class="pull-center logo">Sign in to Appraisal Management</h4>
		    <form name="login_form">
		      <md-input-container class="md-block">
		        <label>Email</label>
		        <input required md-no-asterisk name="description" ng-model="project.description">
		        <div ng-messages="projectForm.description.$error">
		          <div ng-message="required">This is required.</div>
		        </div>
		      </md-input-container>
		      <md-input-container class="md-block">
		        <label>Password</label>
		        <input required md-no-asterisk name="description" ng-model="project.description">
		        <div ng-messages="projectForm.description.$error">
		          <div ng-message="required">This is required.</div>
		        </div>
		      </md-input-container>
		      <md-button class="md-raised md-primary login">Login</md-button>
		    </form>
		  </div>
		</div>
	</div>
</div>
