<div class="sample">
  <div class="col-md-offset-4 col-md-4 col-sm-offset-3 col-sm-6 col-xs-offset-2 col-xs-8">
    <div class="login-top">
      <div style="text-align: center">
        <img src="angular/assets/images/navtech_logo.png" class="navtech_logo">
      </div>
      <div class="well">
        <h4 class="pull-center logo">Reset Password</h4>
        <form name="reset_form" novalidate>
          <md-input-container class="md-block">
            <label>Password</label>
            <input type="password" required md-no-asterisk name="password" ng-model="project.password" ng-minlength=8>
            <div ng-messages="reset_form.password.$error">
              <div ng-message="required">Password is required.</div>
              <div ng-message="minlength">Password should contain minimum 8 characters</div>
            </div>
          </md-input-container>
          <md-input-container class="md-block">
            <label>Confirm Password</label>
            <input type="password" required md-no-asterisk name="re_password" ng-model="project.re_password" ng-pattern="project.password" ng-minlength=8>
            <div ng-messages="reset_form.re_password.$error">
              <div ng-message="required">Password is required.</div>
              <div ng-message="pattern">Passwords should match</div>
              <div ng-message="minlength">Password should contain minimum 8 characters</div>
            </div>
           
          </md-input-container>
          <md-button class="md-raised md-primary login" ng-disabled="reset_form.$invalid">Reset</md-button>
        </form>
      </div>
    </div>
  </div>
</div>
